# Variables de entorno para Gateway Service

# Puerto del Gateway
PORT=3000

# Secreto para validar JWT firmado por el servicio de Auth
JWT_SECRET=supersecretjwt

# Token secreto que el Gateway inyectará en peticiones internas
SERVICE_TOKEN=internal_super_secret_token_123

# URLs internas de los microservicios
AUTH_SERVICE_URL=http://auth-service:3001
USER_SERVICE_URL=http://user-service:5000
RESTAURANT_SERVICE_URL=http://restaurant-service:8001
ORDER_SERVICE_URL=http://order-service:8002
NOTIFICACIONES_SERVICE_URL=http://notificaciones-worker.local
