AUTH_DB_PASSWORD=change_me_auth_password

ACCESS_TOKEN_SECRET=change_me_access_secret
SERVICE_TOKEN=internal_super_secret_token_123

USER_DB_PASSWORD=userpassword123
ORDER_DB_PASSWORD=orderpassword123
RESTAURANT_DB_PASSWORD=restaurantpassword123

# User Service (.NET)
USER_SERVICE_ASPNETCORE_ENVIRONMENT=Development
USER_SERVICE_ASPNETCORE_URLS=http://+:5000

