# Entornos locales de docker compose
.env.docker
.env

# Basicos
.DS_Store
*.log
bin/

# Ignora diagramas
auth-liam-erd/
calificaciones-liam-erd/
notificaciones-liam-erd/
pedidos-liam-erd/
restaurantes-liam-erd/
usuarios-liam-erd/
